.inputbox {
	position: relative;
}
.label {
	display: block;
	margin: 0 0 0.5em 0;
}
.label[data-hiddenlabel="true"] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.select {
	position: relative;
}
.select :global .r-select__control {
	min-height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--grey-text);
	box-shadow: none;
}
.select :global .r-select__control--is-focused {
	border-width: 1px;
	border-color: var(--text);
}
.select :global .r-select__control--is-focused:hover {
	border-width: 1px;
	border-color: var(--text);
}
.select :global .r-select__indicators {
	cursor: pointer;
}
.select :global .r-select__value-container {
	padding: 0 12px;
}
