.inputbox {
	position: relative;
}

.label {
	margin: 0 0 8px 0;
}
.label[data-hiddenlabel="true"] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.input {
	position: relative;
	border: 1px solid;
	box-sizing: border-box;
	border-color: var(--silver);
	background-color: var(--white);
	height: 40px;
	width: 100%;
	padding: 0 12px 0 12px;
	border-radius: 4px;
	font-size: 14px;
	color: var(--input-color);
}
.input::placeholder {
	color: var(--silver);
}
.input:focus {
	border-color: var(--text);
}
.input:disabled {
	background-color: eef1f5;
}
.input[aria-invalid="true"] {
	border-color: var(--red);
	color: var(--red);
}
.error {
	position: absolute;
	top: calc(100% + 8px);
	color: var(--red);
}
